.wrapper {
  background-color: #fff !important;
}

.login-box-body {
  background-color: #eee !important;
}

.login-box button {
  margin-left: 0px !important;
}

.login-box a:hover {
  cursor: pointer !important;
}